.DS_Store
.idea/
.vs/

bin/
obj/
[Dd]ebug/
[Rr]elease/
artifacts/
TestResults/

*.user
*.suo
*.rsuser
*.log
*.trx
*.nupkg
*.snupkg
coverage*

node_modules/
dist/
.angular/
out-tsc/

.env
.env.*
!.env.example
